.header {
    margin-top: 45px;
    margin-bottom: 41px;
}

@media screen and (max-width: 644px) {
    .header {
        margin-top: 28px;
        margin-bottom: 42px;
    }
}

.header__image {
    width: 173px;
    height: 33px;
}